<section id="address">
  <div class="container p-5">
    <h4 class="display-4">My Shipping Address</h4>
    <hr>
    <app-message></app-message>
    <div *ngIf="!currentAddress" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="currentAddress" class="card bg-light">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label>Address 1</label>
            <input type="text" name="address1" class="form-control" [(ngModel)]="currentAddress.addr1">
          </div>
          <div class="form-group">
            <label>Address 2</label>
            <input type="text" name="address2" class="form-control" [(ngModel)]="currentAddress.addr2">
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>City</label>
                <input type="text" name="city" class="form-control" [(ngModel)]="currentAddress.city">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>State</label>
                <input type="text" name="state" class="form-control" [(ngModel)]="currentAddress.state">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Postal Code</label>
                <input type="text" name="city" class="form-control" [(ngModel)]="currentAddress.postalCode">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Country</label>
            <input type="text" name="country" class="form-control" [(ngModel)]="currentAddress.country">
          </div>
          <button type="button" class="btn btn-danger" (click)="updateAddress()" [disabled]="btnDisabled">Change Address</button>
        </form>
      </div>
    </div>
  </div>
</section>
